:root {
  --back: #202020;
}

a{
  text-decoration: none;
  color: #2cce00;
}
a:hover {
  color: red;
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid var(--no4);
}
code{
  background-color: rgba(255,255,255,0.4);
  padding: 0px 3px;
  border-radius: 4px;
}

@media screen and (min-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 16px;
    margin: 0;
    padding: 0;
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .name{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 30px;
  }
  h3{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 10px 0px;
  }
  .white-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    padding: 10px 0px;
  }
  .black-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  .flex2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inners{
    width: 100%;
  }
  .inner75{
    width: 75%;
  }
  .inner25{
    width: 25%;
  }
  .right{
    text-align: right;
  }
  .course-thumb{
    width: 100%;
  }
  .tag{
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid rgba(255,155,0,0.4);
    border-radius: 5px;
    display: inline-block;
  }
  .item{
    padding: 10px 12px;
    margin: 2px 0px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    cursor: pointer;
  }
  .item:hover{
    color: black;
    background-color: rgba(0,0,0,0.2);
  }
  .item-selected{
    color: white;
    background-color: rgba(0,0,0,0.5);
  }
  .item-selected:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
  }
  .div-item{
    margin-left: 30px;
  }
  .details{
    margin-left: 30px;
  }
  .back{
    border: 1px solid rgba(255,255,255,0.6);
    padding: 10px 13px;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
  }
  .back:hover{
    background-color: rgba(255,255,255,0.1);
  }
  .player{
    padding-bottom: 56.20%;
    position: relative;
  }
  .playlist{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }












  .katex {
    font-size: 1.1em;
    font-weight: 500;
  }
  .katex-display{
    margin: 0px;
  }


}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 14px;
    margin: 0;
    padding: 0;
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  p{
    margin: 0;
  }
  .name{
    font-size: 22px;
    font-weight: 600;
    margin: 5px 0px;
  }
  h3{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 5px 0px;
  }
  .white-inner{
    padding: 5px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    padding: 5px 0px;
  }
  .black-inner{
    padding: 5px;
    margin: 0px auto;
  }
  .flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .flex2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inners{
    width: 100%;
  }
  .inner75{
    width: 100%;
  }
  .inner25{
    display: flex;
    width: 100%;
  }
  .right{
    text-align: right;
  }
  .course-thumb{
    display: none;
  }
  .tag{
    padding: 3px 7px;
    font-size: 12px;
    border: 2px solid rgba(255,155,0,0.4);
    border-radius: 5px;
    display: inline-block;
  }
  .item{
    padding: 5px 8px;
    margin: 0px 2px;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    cursor: pointer;
  }
  .item:hover{
    color: white;
    background-color: rgba(0,0,0,0.5);
  }
  .item-selected{
    color: white;
    background-color: rgba(0,0,0,0.5);
  }
  .div-item{
    margin-top: 10px;
    padding: 5px;
  }
  .back{
    border: 1px solid rgba(255,255,255,0.6);
    padding: 3px 7px;
    margin: 0px 2px;
    cursor: pointer;
  }
  .back:hover{
    background-color: rgba(255,255,255,0.1);
  }
  .player{
    padding-bottom: 56.20%;
    position: relative;
  }
  .playlist{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }









  .katex {
    font-size: 1.1em;
    font-weight: 500;
  }
  .katex-display{
    margin: 0px;
  }
  .hide2{
    display: none;
  }



}

.hide{
  display: none;
}
